django==1.11.29 # pyup: >=1.11,<1.12
django-modeltranslation==0.17.3
pillow==8.3.1
psycopg2-binary==2.9.1
django-cms==3.9.0
easy-thumbnails==2.7.1
html5lib==1.1
django-meta==2.0.0
django-piwik==0.1
django-colorfield==0.4.2
djangorestframework==3.12.4
django-filter==2.4.0
flup6==1.1.1
django-settings-export==1.2.1
sqlparse==0.4.1
uwsgi==2.0.19.1
